fastapi
uvicorn
python-dotenv
scikit-learn
sqlalchemy
psycopg2-binary
web3
pydantic
pytest
httpx
redis

pandas
tqdm
tldextract
python-whois

opencv-python-headless
scikit-image
dnspython
pyjwt
bcrypt
passlib[bcrypt]
python-multipart
xgboost
